@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.menus {
  margin-top: 20px;
  font-size: xx-large; 
  color: rgb(113, 113, 113);
  cursor: pointer;
}

ul.list-unstyled li {
  margin: 0 10px; 
}

ul.list-unstyled li a {
  text-decoration: none;
  color: inherit;
}

ul.list-unstyled li a:hover {
  color: rgb(58, 58, 58); 
  text-decoration: none; 
}
